name: Build PR Documentation

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    uses: huggingface/doc-builder/.github/workflows/build_pr_documentation.yml@main
    with:
      commit_sha: ${{ github.event.pull_request.head.sha }}
      pr_number: ${{ github.event.number }}
      package: course
      path_to_docs: course/chapters/
      additional_args: --not_python_module
      languages: ar bn de en es fa fr gj he hi it ja ko pt ru th tr zh-CN zh-TW
      hub_base_path: https://moon-ci-docs.huggingface.co